/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans+Condensed:700|Source+Sans+Pro:300,400,600');
$base-font: "Source Sans Pro", "Helvetica", "sans-serif";
$header-font: "Open Sans Condensed", "Helvetica", "sans-serif";
$logo-font: "Josefin Sans", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #364F6B;

$red: #FC5185;
$blue: #364F6B;
$yellow: #FDB631; // do not user this variable
$orange: #E67E22; // do not user this variable
$green: #3FC1C9;
$gray: #000000;
$medium-gray: #BDBDBD;
$light-gray: #F5F5F5;

// the color palette has been found here : http://colorhunt.co/c/15830
