<div class="home-banner">
  <div class="container">
    <div class="home-banner-content">
      <div class="logo-stripe">
        <h1 id="logo" class="logo-huge">Minimalist</h1>
      </div>
      <div class="logo-stripe">
        <p id="tagline">Discover. Create. Because we all love lists.</p>
      </div>
    </div>
  </div>
</div>
