<div class="row">
  <div class="col-xs-12">
    <div class="resource-item">
      <div class="resource-item-content">
        <h5><%= link_to resource.title, collection_resource_path(resource.collection, resource) %></h5>
        <p><%= truncate resource.content, length: 150, seperator: ' ' %>
        <p><%= link_to resource.uri, resource.uri %></p>
      </div>
      <div class="resource-item-options">
        <%= render 'shared/resources/vote_btn', resource: resource %>
        <div class="resource-item-comments">
          <div class="resource-item-comments-nb">24</div>
          <p>comments</p>
        </div>
      </div>
<!--       <div class="resource-item-admin-controls">
        <%# link_to "edit", edit_collection_resource_path(resource.collection, resource) %>
        <%# link_to "delete", collection_resource_path(resource.collection, resource), method: :delete, data: { confirm: "are you sure your want to delete this resource?" }  %>
      </div> -->
    </div>
  </div>
</div>
