<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="activity-item">
      <div class="activity-action">
        <%= render 'shared/activities/activities_icons', activity: activity %>
      </div> <!-- .activity-actions -->
      <div class="activity-details">
        <%= link_to activity.owner.username, activity.owner if activity.owner %>
        <%= render_activity activity %>
        <span class="activity-time"><%= time_ago_in_words(activity.created_at) + " ago" %></span>
      </div> <!-- .activity-details -->
    </div> <!-- .activity_item -->
  </div> <!-- .col-xs-12 -->
</div> <!-- .row -->
